mixin tweetDeck(tweets)
  div(class="row")
    each t in tweets
      div(class="col-lg-4 col-md-6 mb-4 form-footer")
        div(class="card h-100")
          div(class="card-body")
            p(class="card-text") #{t.tweetContent}
            em #{t.author.local.firstName}
          div(class="card-footer")
            a(href=`/tweet/reply/${t.id}`)
              button(class="btn btn-success icon-wrapper") Reply
            a(href=`/tweet/${t.id}`)
              button(class="btn btn-success icon-wrapper") View Replies
            button(class="btn btn-success icon-wrapper") #{t.likes} Likes

            form(action=`/tweet/likes/${t.id}` method="post")
              input(type="hidden" name="_csrf" value= csrfToken)
              div(form-footer form-group pull-right)
                input(class="btn btn-success" type="submit" value="Like")
